# Django settings
DEBUG=False
ALLOWED_HOSTS="link.ulb.be"
TIME_ZONE = 'Europe/Brussels'

# Database to use: postgres, sqlite
DATABASE_TYPE='postgres'

# Security -- handled by frontend
SECURE_SSL_REDIRECT=False

# Static
STATIC_ROOT=/app/web/static_root

# Site configuration
SITE_PROTOCOL=https
SITE_DOMAIN=link.ulb.be
