layout python3

export pythonpath=/home/bperraud/code/ulb-link/.direnv/python-3.12.3/lib/python3.12/site-packages

# Install dependencies only once
if [ ! -f .direnv/.bootstrapped ]; then
  pip install -r app/permalink/requirements.txt
  pip install django-stubs django-template-lsp
  touch .direnv/.bootstrapped  # Mark it as installed
fi

