<script>

$(document).ready(function () {
    const dataTable = new simpleDatatables.DataTable("#links", {
        searchable: true,
        sortable: false
    });

    setTimeout(() => {
        const topSection = document.querySelector(".datatable-top");
        topSection.classList.add('items-center');
        if (topSection) {
            const editContainer = document.createElement("div");
            editContainer.id = "edit-container";
            editContainer.setAttribute("hx-swap", "innerHTML");
            editContainer.className = "mr-auto"

            if (topSection.children.length >= 1) {
                topSection.insertBefore(editContainer, topSection.children[1]);
            }
        }
    }, 50);
});

document.getElementById('selectAll').addEventListener('change', function () {
    const checkboxes = document.querySelectorAll('.row-checkbox');
    checkboxes.forEach(cb => cb.checked = this.checked);
});


document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
    checkbox.addEventListener('change', function () {
        const url = `/link/toolbar/${getSelectedIds().length}`;
        htmx.ajax('GET', url, '#edit-container');
    });
});

function getSelectedIds() {
    return [...document.querySelectorAll('.row-checkbox:checked')].map(cb => cb.value);
}

document.body.addEventListener('htmx:afterSwap', function(evt) {
    if (evt.target && document.getElementById('edit-button')) {
        document.getElementById('edit-button').addEventListener('click', function (event) {
            event.preventDefault();
            const ids = getSelectedIds();
            const url = `/link/edit/${ids[0]}`;
            htmx.ajax('GET', url, '#modal-content');
        });
    }
    if (evt.target && document.getElementById('delete-button')) {
        document.getElementById('delete-button').addEventListener('click', function (event) {
            event.preventDefault();
            const ids = getSelectedIds();
            fetch(`/link/delete/${ids}`, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                }
            })
            .then(res => {
                if (res.ok) {
                    location.reload();
                    showAlert("Link deleted");
                }
            });
        });
    }
});

</script>

