{% extends 'base.html' %}

{% block pagecontent %}


<section class="body">

    <header class="header">
        <div class="logo-container">
            <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
            </div>
        </div>

    </header>

    <div class="container text-center py-5">
        <h1 class="display-4">
            500<i class="bi bi-file-earmark-text"></i>
        </h1>
        <p class="lead">We're sorry, something went wrong.</p>
    </div>

</section>

{% endblock %}

