{% load static %}

<!DOCTYPE html>
{% load tailwind_cli %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ULB-LINK</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="{% static 'ULB.png' %}">

    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>

    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@9.0.3"></script>

    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {% tailwind_css %}

	
</head>

<body>

    <!-- Main modal -->
    <div id="modalMain" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">

        <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700"  id="modalContainer">
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                <h3 id="modalTitle" class="text-lg font-semibold text-gray-900 dark:text-white">
                    Create permalink
                </h3>
                <button id="closeModalButton" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="modalMain">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>

            <div id="modal-content">
            </div>

        </div>
    </div>

    <button data-modal-target="modalMain" data-modal-toggle="modalMain" type="button">
    </button>

    
    <button data-modal-target="popup-modal" data-modal-toggle="popup-modal" type="button">
    </button>


    {% include "confirm_deletion_modal.html" %}

    {% include "alert.html" %}

    <!-- Navbar -->
    <nav class="fixed top-0 left-0 right-0 bg-gray-900 text-white px-4 py-2 flex items-center justify-between z-50">
      <div class="flex items-center space-x-2">
        <a href="{% url 'home' %}" class="flex items-center space-x-2">
          <img src="{% static 'ULB.png' %}" width="45" alt="Logo" />
          <span class="text-xl font-semibold">PermaLink</span>
        </a>
      </div>

          <div class="flex items-center space-x-4">
        <span>{{ user.username }}</span>

        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit"
            class="flex items-center justify-center text-white hover:text-gray-300 transition-colors duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6A2.25 2.25 0 005.25 5.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
            </svg>
          </button>
        </form>
      </div>
    </nav>

    <aside id="default-sidebar" class="fixed left-0 z-40 w-52 h-full" aria-label="Sidebar">
       <div class="h-full px-3 py-4 overflow-y-auto bg-neutral-primary-soft border-e border-default">
        <ul class="space-y-2 font-medium">

            <li class="{% if request.resolver_match.url_name == 'link-home' %}bg-gray-200 font-semibold{% endif %} rounded hover:bg-gray-100 transition">
                <a href="{% url 'link-home' %}" class="flex items-center px-2 py-1.5 text-body rounded-base hover:bg-neutral-tertiary hover:text-fg-brand group">
                   <img src="{% static 'link.svg' %}" alt="link" class="w-4 h-4" />
                   <span class="ms-3">Links</span>
                </a>
            </li>

            {% if user.is_nextcloud_user %}
            <li class="{% if request.resolver_match.url_name == 'mycloud-link' %}bg-gray-200 font-semibold{% endif %} rounded hover:bg-gray-100 transition">
                <a href="{% url 'mycloud-link' %}" class="flex items-center px-2 py-1.5 text-body rounded-base hover:bg-neutral-tertiary hover:text-fg-brand group">
                   <img src="{% static 'nextcloud.jpg' %}" width="18" height="18" alt="users" />
                   <span class="ms-3">Mycloud</span>
                </a>
            </li>
            {% endif %}

            <div class="h-1"></div>

            <li>
              {% block additional_button %}
              {% endblock %}
            </li>

          </ul>
    </aside>


    <div class="content">
        {% block pagecontent %}
        <!-- Page-specific content goes here -->
        {% endblock %}
    </div>

</body>
</html>

<style> 

#default-sidebar {
    top: 60px;
}

.datatable-wrapper .datatable-container {
  border: 1px solid #ebe6e7;
  border-radius: 12px;
  overflow-x: auto;
}

body {
    overflow-x: hidden;
}

.content {
    margin-left: 205px;
    margin-top: 32px;
    padding: 2rem;
}

</style>


<script>

function showAlert(message, type = "success", timeout = 3000) {
  const alert = document.getElementById("globalAlert");
  const innerSpan = document.getElementById("alertMessage");
  innerSpan.textContent = message;
  alert.style.display = "flex";
  setTimeout(() => alert.classList.add("show"), 10);

  if (timeout) {
    setTimeout(() => {
      alert.classList.remove("show");
      setTimeout(() => (alert.style.display = "none"), 150);
    }, timeout);
  }
}

</script>
