{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ULB-LINK</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="{% static 'ULB.png' %}">

    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>

    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@9.0.3"></script>

    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


	<style>
		body {
			overflow-x: hidden;
		}
		.sidebar {
			height: 100vh;
			position: fixed;
		}
		.content {
			margin-left: 220px;
			padding: 2rem;
			margin-top: 50px; /* height of top navbar */
		}
	</style>
</head>

<body class="text-black">

    <!-- Main modal -->
    <div id="modalMain" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">

        <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700"  id="modalContainer">
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                <h3 id="modalTitle" class="text-lg font-semibold text-gray-900 dark:text-white">
                    Create permalink
                </h3>
                <button id="closeModalButton" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="modalMain">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>

            <div id="modal-content">
            </div>

        </div>
    </div>

    
    <button data-modal-target="popup-modal" data-modal-toggle="popup-modal" type="button">
    </button>

    <!-- Confirm deletion modal -->
    <div id="popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
                <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                <div class="p-4 md:p-5 text-center">
                    <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>
                    <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to delete this link ?</h3>
                    <button id="delete-button" data-modal-hide="popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                        Yes, I'm sure
                    </button>
                    <button data-modal-hide="popup-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No, cancel</button>
                </div>
            </div>
        </div>
    </div>


    {% include "alert.html" %}

    <!-- Navbar -->
    <nav class="fixed top-0 left-0 right-0 bg-gray-900 text-white px-4 py-2 flex items-center justify-between z-50">
      <div class="flex items-center space-x-2">
        <a href="{% url 'home' %}" class="flex items-center space-x-2">
          <img src="{% static 'ULB.png' %}" width="45" alt="Logo" />
          <span class="text-xl font-semibold">PermaLink</span>
        </a>
      </div>

          <div class="flex items-center space-x-4">
        <span>{{ user.username }}</span>

        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit"
            class="flex items-center justify-center text-white hover:text-gray-300 transition-colors duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6A2.25 2.25 0 005.25 5.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
            </svg>
          </button>
        </form>
      </div>
    </nav>

    <!-- Sidebar -->
    <div class="fixed top-[60px] left-0 h-[calc(100vh-60px)] w-56 border-r border-gray-300 bg-gray-50 p-4">
      <ul class="flex flex-col space-y-2">
        <li>
          {% block additional_button %}
          {% endblock %}
        </li>

        <li class="{% if request.resolver_match.url_name == 'link-home' %}bg-gray-200 font-semibold{% endif %} rounded flex items-center space-x-2 px-2 py-1 hover:bg-gray-100 transition">
          <img src="{% static 'link.svg' %}" alt="link" class="w-4 h-4" />
          <a href="{% url 'link-home' %}" class="text-gray-700 hover:text-gray-900">Links</a>
        </li>

        {% if user.is_nextcloud_user %}
        <li class="{% if request.resolver_match.url_name == 'mycloud-link' %}bg-gray-200 font-semibold{% endif %} rounded flex items-center space-x-2 px-2 py-1 hover:bg-gray-100 transition">
          <img src="{% static 'nextcloud.jpg' %}" width="18" height="18" alt="users" />
          <a href="{% url 'mycloud-link' %}" class="text-gray-700 hover:text-gray-900">Mycloud</a>
        </li>
        {% endif %}
      </ul>
    </div>


    <div class="content">
        {% block pagecontent %}
        <!-- Page-specific content goes here -->
        {% endblock %}
    </div>

</body>
</html>

<style> 

.navbar {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.sidebar {
    padding-top: 40px;
}

.nav-item {
    font-size: 18px;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.nav-item a {
    color: inherit;
    text-decoration: none;
}

.nav-item.active {
    font-weight: 500;
    background-color: #e9ecef;
    border-radius: 4px;
}

input {
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    margin: 1px;
    border-radius: 1px;
}

</style>


<script>

function showAlert(message, type = "success", timeout = 3000) {
  const alert = document.getElementById("globalAlert");
  const innerSpan = document.getElementById("alertMessage");
  innerSpan.textContent = message;
  alert.style.display = "flex";
  setTimeout(() => alert.classList.add("show"), 10);

  if (timeout) {
    setTimeout(() => {
      alert.classList.remove("show");
      setTimeout(() => (alert.style.display = "none"), 150);
    }, timeout);
  }
}

</script>
