<tr hx-trigger="cancel" class="editing" hx-get="{% url 'link-edit-row' link.id %}">
  <td>
    <input name="token" value="{{ link.token }}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
  </td>
  <td><a href="{{ link.target_url }}">{{ link.target_url }}</a></td>
  <td>{{ link.created_at }}</td>
  <td>{{ link.updated_at }}</td>
  <td>
    <button class="btn cancel" hx-get="{% url 'link-row' link.id %}">Cancel</button>
    <button class="btn save"
            hx-put="{% url 'link-api' link.id %}"
            hx-include="closest tr">
      Save
    </button>
  </td>
</tr>

