{% extends 'base.html' %}
{% load static %}

{% block pagecontent %}

<table border="1" class="table delete-row-example">
    <thead>
        <tr>
            <th>Permalink</th>
            <th>Target URL</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th></th>
        </tr>
    </thead>
    <tbody hx-headers='{"x-csrftoken": "{{ csrf_token }}"}' hx-target="closest tr" hx-swap="outerHTML">
        {% for link in links %}
            {% include "link_row.html" with link=link %}
        {% empty %}
        <tr>
            <td colspan="3">You haven't created any links yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

