<h2>My Links</h2>
<table border="1">
    <thead>
        <tr>
            <th>Token</th>
            <th>Target URL</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        {% for link in links %}
        <tr>
            <td>{{ link.token }}</td>
            <td><a href="{{ link.target_url }}">{{ link.target_url }}</a></td>
            <td>{{ link.created_at }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">You haven't created any links yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

