{% extends 'base.html' %}
{% load static %}

{% block pagecontent %}

<button
    hx-get="{% url 'link-edit-row' '1' %}"
    hx-target="#modals-here"
    hx-trigger="click"
    data-bs-toggle="modal"
    data-bs-target="#modals-here"
    class="btn primary">Open Modal</button>

<div id="modals-here"
    class="modal modal-blur fade"
    style="display: none"
    aria-hidden="false"
    tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<table id="links" border="1" class="table delete-row-example">
    <thead>
        <tr>
            <th>Permalink</th>
            <th>Target URL</th>
            <th>Created By</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th></th>
        </tr>
    </thead>
    <tbody hx-headers='{"x-csrftoken": "{{ csrf_token }}"}' hx-target="closest tr" hx-swap="outerHTML">
        {% for link in links %}
            {% include "link_row.html" with link=link %}
        {% empty %}
        <tr>
            <td colspan="3">You haven't created any links yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>

$(document).ready( function () {
    $('#links').DataTable(
        {pageLength : 15}
    );
});

</script>

{% endblock %}


