{% extends 'base.html' %}
{% load static %}

{% block additional_button %}

<button data-modal-target="modals-here" data-modal-toggle="modals-here" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    hx-get="/link/create-link/"
    hx-trigger="click"
    hx-target="#modal-content">
    <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
    Create
</button>

{% endblock %}

{% block pagecontent %}

<div id="edit-container" hx-swap="innerHTML">
</div>

<div>
    <table id="links" border="1" >
        <thead>
            <tr>
                <th><input type="checkbox" id="selectAll"></th>
                <th>
                    <span class="flex items-center">
                        Permalink
                    </span>
                </th>
                <th>
                    <span class="flex items-center">
                        Target URL
                    </span>
                </th>
                <th>
                    <span class="flex items-center">
                        Updated At
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for link in links %}
                {% include "link_row.html" with link=link %}
            {% empty %}
            <tr>
                <td colspan="3">You haven't created any links yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>

$(document).ready(function () {
    const dataTable = new simpleDatatables.DataTable("#links", {
        searchable: true,
        sortable: false
    });
});

document.getElementById('selectAll').addEventListener('change', function () {
    const checkboxes = document.querySelectorAll('.row-checkbox');
    checkboxes.forEach(cb => cb.checked = this.checked);
  });


document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
    checkbox.addEventListener('change', function () {
        const url = `/link/toolbar/${getSelectedIds().length}`;
        htmx.ajax('GET', url, '#edit-container');
    });
});

function getSelectedIds() {
    return [...document.querySelectorAll('.row-checkbox:checked')].map(cb => cb.value);
}

document.body.addEventListener('htmx:afterSwap', function(evt) {
    if (evt.target && document.getElementById('edit-button')) {
        document.getElementById('edit-button').addEventListener('click', function (event) {
            event.preventDefault();
            const ids = getSelectedIds();
            const url = `/link/edit/${ids[0]}`;
            htmx.ajax('GET', url, '#modal-content');
        });
    }
    if (evt.target && document.getElementById('delete-button')) {
        document.getElementById('delete-button').addEventListener('click', function (event) {
            event.preventDefault();
            const ids = getSelectedIds();
            fetch(`/link/delete/${ids}`, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                }
            })
            .then(res => {
                if (res.ok) {
                    console.debug("delete");
                    location.reload();
                }
            });
        });
    }
});


</script>


{% endblock %}
