<tr id="link-{{ link.id }}">
  <td><a href="{{ HOST }}/{{ link.token }}">{{ HOST }}/{{ link.token }}</a></td>
  <td><a href="{{ link.target_url }}">{{ link.target_url }}</a></td>
  <td>{{ link.user.username }}</td>
  <td>{{ link.created_at }}</td>
  <td>{{ link.updated_at }}</td>
  <td>
    <button class="btn danger"
            hx-get="{% url 'link-edit-row' link.id %}"
            hx-trigger="edit"
            onClick="let editing = document.querySelector('.editing')
                     if(editing) {
                       Swal.fire({title: 'Already Editing',
                                  showCancelButton: true,
                                  confirmButtonText: 'Yep, Edit This Row!',
                                  text:'You are already editing a row. Replace it?'})
                       .then((result) => {
                            if(result.isConfirmed) {
                               htmx.trigger(editing, 'cancel')
                               htmx.trigger(this, 'edit')
                            }
                        })
                     } else {
                        htmx.trigger(this, 'edit')
                     }">
      Edit
    </button>
  </td>
</tr>

