{% extends 'base.html' %}
{% load static %}

{% block pagecontent %}


<div id="edit-container" hx-swap="innerHTML">

</div>

<div id="modals-here"
    class="modal modal-blur fade"
    style="display: none"
    aria-hidden="false"
    tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<table id="links" border="1" class="table delete-row-example">
    <thead>
        <tr>
            <th><input type="checkbox" id="selectAll"></th>
            <th>Permalink</th>
            <th>Target URL</th>
            <th>Created By</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
    </thead>
    <tbody>
        {% for link in links %}
            {% include "link_row.html" with link=link %}
        {% empty %}
        <tr>
            <td colspan="3">You haven't created any links yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>

$(document).ready(function () {
    $('#links').DataTable({
        pageLength: 15,
        columnDefs: [
            {
                orderable: false,
                targets: 0
            }
        ]
    });
});

document.getElementById('selectAll').addEventListener('change', function () {
    const checkboxes = document.querySelectorAll('.row-checkbox');
    checkboxes.forEach(cb => cb.checked = this.checked);
  });


document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
    checkbox.addEventListener('change', function () {
        const url = `/link/toolbar/${getSelectedIds().length}`;
        htmx.ajax('GET', url, '#edit-container');
    });
});

function getSelectedIds() {
    return [...document.querySelectorAll('.row-checkbox:checked')].map(cb => cb.value);
}

document.body.addEventListener('htmx:afterSwap', function(evt) {
    if (evt.target && document.getElementById('edit-button')) {
        document.getElementById('edit-button').addEventListener('click', function (event) {
            event.preventDefault();
            const ids = getSelectedIds();
            const url = `/link/edit/${ids[0]}`;
            htmx.ajax('GET', url, '#modals-here');
        });
    }
});

</script>

{% endblock %}
