{% extends 'base.html' %}
{% load static %}

{% block pagecontent %}


<div id="edit-container" hx-swap="innerHTML">
</div>

<div>
    <table id="links" border="1">
        <thead>
            <tr>
                <th><input type="checkbox" id="selectAll"></th>
                <th>Permalink</th>
                <th>Target URL</th>
                <th>Path</th>
                <th>Expiration</th>
                <th>Updated At</th>
            </tr>
        </thead>
        <tbody>
            {% for link in links %}
                {% include "mycloud/mycloud_link_row.html" with link=link %}
            {% empty %}
            <tr>
                <td colspan="3">You haven't created any links yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include "scripts/datatable.js.html" %}

{% endblock %}
