upstream django-permalink-us {
    server django-permalink:8000;
}

server {
    server_name ${SITE_DOMAIN} www.${SITE_DOMAIN};
    listen ${NGINX_PORT};
    listen [::]:${NGINX_PORT};

    access_log /dev/stdout;
    error_log /dev/stderr;


    location / {
        proxy_pass http://django-permalink-us;
        
        proxy_hide_header X-Frame-Options; # empêche l'en-tête upstream de bloquer l'iframe
        add_header Content-Security-Policy "frame-ancestors 'self' ${NEXTCLOUD_URL};" always;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto ${NGINX_SCHEME};
        proxy_set_header Origin $http_origin;
        proxy_redirect off;
        proxy_connect_timeout 180;
        proxy_send_timeout 180;
        proxy_read_timeout 180;
        send_timeout 180;
    }

    location = /favicon.ico {
        alias /app/static/favicon.png;
    }

    location /static/ {
        alias /app/static_root/;
    }

    location /media/ {
        alias /app/media_root/;
    }

    location /doc/ {
        alias /app/doc/;
    }

    client_max_body_size 400M;
}

