{% load static %}


<div>

  <form 
    method="POST"
    id="createBulkForm"
    hx-post="{% url 'create-nextcloud-bulk' %}"
    class="p-4 md:p-5"
  >
    {% csrf_token %}

    <div class="px-4 overflow-y-auto" id="main-div">
    <div id="jstree"></div>
        <div class="flex items-center gap-2 mb-2">
          <button
            type="submit"
            id="submitButton"
            disabled
            class="bg-blue-600 text-white font-bold py-2 px-4 rounded"
          >
            Submit
          </button>
        </div>
    </div>
  </form>

</div>

<script>

htmx.onLoad(function (root) {

    const $tree = $('#jstree');

   $tree.jstree({
        core: {
            data: {{ data|safe }}
        },
        plugins: ['checkbox']
    });

    $tree.on('ready.jstree', function () {

        const tree = $tree.jstree(true);

        // open depth 1 only
        tree.get_node('#').children.forEach(function (nodeId) {
            tree.open_node(nodeId);
        });
    });

    $tree.on('changed.jstree', function(e, data) {
        document.getElementById('submitButton').disabled =
            data.selected.length === 0;
    });
});

if (document.getElementById('modalTitle')) { modalTitle.textContent = "{{ modal_title|escapejs }}"; }

</script>


<style>
  button:disabled {
    background-color: #9ca3af;
    color: #e5e7eb;
    cursor: not-allowed;
    opacity: 0.7;
  }

  #main-div {
      max-height: 500px;
  }

</style>

